	.gameBody{
		background-color:black;
		color:white;
	}
	.tabMenu{
		border-style:solid;
		border-width:thin;
		position:absolute;
		top:80px;
		height:500px;
		width:1100px;
	}
	.buyPackHolder{
		border:solid 1px orange;
		position:absolute;
		top:560px;
		height:20px;
		z-index:1;
		width:1100px;
	}
	.jewelHolder .buildingLine{
		border-style:solid;
		border-width:thin;
		position:relative;
		height:25px;
		width:500px;
		margin-bottom:5px;
		display:block;
	}
	.buildingLine{
		display:none;
		border-style:solid;
		border-width:thin;
		position:relative;
		height:25px;
		width:500px;
		margin-bottom:5px;
	}
	.tooltipHolder{
		border:1px solid green;
	}
	.buildingLineName{
		border-style:solid;
		border-width:thin;
		border-color:green;
		left:0px;
	}
	.buildingLineAmount{
		border-style:solid;
		border-width:thin;
		border-color:purple;
		position:absolute;
		left:250px;
	}
	.buildingLineEarned{
		border-style:solid;
		border-width:thin;
		border-color:red;
		position:absolute;
		right:0px;
	}
	.upgradeHolder{
		border-style:solid;
		border-width:thin;
		border-color:blue;
		position:absolute;
		right:0px;
		top:0px;
		height:250px;
		width:513px;
	}
	.upgradeHolderBought{
		border-style:solid;
		border-width:thin;
		border-color:yellow;
		position:absolute;
		right:0px;
		top:250px;
		height:250px;
		width:513px;
	}
	.upgradeItem{
		border-style:solid;
		border-width:thin;
		border-color:red;
		position:relative;
		display:inline-flex;
		cursor:pointer;
		margin:-1px;
		height:64px;
		width:64px;
	}
	.upgradeItemBoughtHolder{
		border-style:solid;
		border-width:thin;
		border-color:green;
		position:relative;
		display:inline-flex;
		margin:-1px;
		height:64px;
		width:64px;
	}
	.upgradeItemBought{
		border-style:solid;
		border-width:thin;
		border-color:red;
		position:relative;
		display:inline-flex;
		margin:-1px;
		height:64px;
		width:64px;
		filter:grayscale(1);
	}
	.buildingLineEQ .tooltipHolder .tooltip{
		visibility:hidden;
		position:absolute;
		width:350px;
		background-color: #004465;
		color: #fff;
		border: black 2px solid;
		text-align:center;
		font-family: "Courier New", Courier, monospace;
		font-size: 12px;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		border-radius: 6px;
		padding-top: 3px;
		padding-bottom: 3px;
		right:-250px;
		top:2px;
		z-index: 5;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.tooltipHolder .tooltip{
		visibility:hidden;
		position:absolute;
		width:350px;
		background-color: #004465;
		color: #fff;
		border: black 2px solid;
		text-align:center;
		font-family: "Courier New", Courier, monospace;
		font-size: 12px;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		border-radius: 6px;
		padding-top: 3px;
		padding-bottom: 3px;
		right:50px;
		top:2px;
		z-index: 1;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.upgradeItem .tooltip, .upgradeItemBoughtHolder .tooltip, .buildingMerge .tooltip, .eagleHolder .tooltip, .gemCurrencyHolder .tooltip, .playerStatLine .tooltip{
		visibility:hidden;
		position:absolute;
		width:300px;
		background-color: #004465;
		color: #fff;
		border: black 2px solid;
		text-align:center;
		font-family: "Courier New", Courier, monospace;
		font-size: 12px;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		border-radius: 6px;
		padding-top: 3px;
		padding-bottom: 3px;
		left:115%;
		top:2px;
		z-index: 1;
		-webkit-user-select: none;
		-moz-user-select: none;
	}

	.upgradeItem:hover .tooltip, .upgradeItemBoughtHolder:hover .tooltip, .tooltipHolder:hover .tooltip, .buildingMerge:hover .tooltip, .eagleHolder:hover .tooltip, .gemCurrencyHolder:hover .tooltip, .playerStatLine:hover .tooltip{
		visibility: visible;
	}
	
	.buyPack{
		bottom:1px;
		position:absolute;
		text-align:center;
		width:40%;
		
	}
	.buyPackButton{
		position:absolute;
		left:7%;
		border: solid 1px blue;
		cursor:pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.cardDisabled{
		background-color:grey;
		cursor:not-allowed;
		border:solid 1px rgb(28,17,89);
	}
	.buyAmount{
		position:relative;
		border: solid 1px blue;
		cursor:pointer;
		left:13%;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.packCost{
		right:-30%;
		position:absolute;
	}
	.menuSelectorHolder{
		border:solid 4px red;
		position:absolute;
		bottom:0px;
		height:300px;
		width:1100px;
	}
	.menuSelector{
		
		border:dotted 2px green;
		position:absolute;
		width:50px;
		height:100px;
		margin-left:10px;
		cursor:pointer;
		z-index:1;
	}
	.menuGlow{
		border:solid 1px red;
		position:absolute;
		width:50px;
		margin-left:10px;
		display:none;
		height:100px;
		z-index:0;
		box-shadow:0px 0px 10px 10px #0ff;
	}
	.catMultiHolder{
		border: dotted 1px red;
		position:absolute;
		width:600px;
		height:20px;
		bottom:100px;
	}
	.gemBuyHolder{
		border: dotted 1px red;
		position:absolute;
		width:250px;
		height:20px;
		bottom:100px;
		cursor:pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.breakGearHolder{
		border: dotted 1px red;
		position:absolute;
		width:300px;
		height:50px;
		bottom:100px;
		cursor:pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	.buildingMerge{

		border:dotted 1px yellow;
		position:absolute;
		right:-80px;
		width:78px;
		height:25px;
		cursor:pointer;
		font-size:15px;
		z-index:1;
	}
	.buildingBreak{

		border:dotted 1px yellow;
		position:absolute;
		right:-162px;
		width:78px;
		height:25px;
		cursor:pointer;
		font-size:15px;
		z-index:1;
	}
	hr.black{
		border: 1px solid black;
	}
	.playerEQHolder{
		background-image:url("art/eq/playerBG.png");
		width:380px;
		height:450px;
	}
	.playerEQBackground{
		width:380px;
		height:450px;
		position:absolute;
		background-color:white;
	}
	.playerEQSlot{
		width:64px;
		height:64px;
		position:absolute;
		background-color:blue;
	}
	.playerEQList{
		position:absolute;
		left:380px;
		top:0px;
		width:270px;
		height:450px;
	}
	.eqPlayerStats{
		position:absolute;
		left:770px;
		top:0px;
		width:270px;
		height:480px;
	}
	.playerStatLine{
		border-style:solid;
		border-width:thin;
		position:relative;
		height:25px;
		width:270px;
		margin-bottom:5px;
		display:inline-block;
	}
	.pStatVal{
		border-style:solid;
		border-width:thin;
		border-color:red;
		position:absolute;
		right:0px;
	}
	.buildingLineEQ{
		display:none;
		border-style:solid;
		border-width:thin;
		position:relative;
		height:25px;
		width:270px;
		margin-bottom:5px;
	}
	hr.white{
		border:1px solid white;
		margin-bottom: 10px;
	}
	.eagleHolder{
	}
	.gemCurrencyHolder{
	}
	
	